body {
    background-color : #feb905;
    font-size: 16px;
}

.blanc {
    background-color: white;
}

#logos {
    width : 100%;
    display : grid;
    grid-template-columns : 10% 10%;
}

img {
    
    width : 100%;
}