body {
    background-color : #feb905;
    font-size: 20px;
}

.blanc {
    background-color: white;
    padding: 2px 2px 2px 2px;
}

#logos {
    width : 100%;
    display : grid;
    grid-template-columns : 50% 50%;
}

img {
    width : 90%;
    height : 90%;
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
    align-items: center;
      object-position: top center;



}

#foot {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#foot img {
    height : 70%;
    width : 70%;
    display : flex;
    align-items: center;
}
footer {
    margin-top : 20px;
}

/*
header section {
    display : grid;
    grid-template-columns: 1fr 1fr;
}*/
/*test*/
nav ul {
    list-style-type: none;
}

nav li {
    float : left;
}

nav ul::after {
    content : "";
    display : table;
    clear : both ; 
}

nav li {
    float : left;
    width : 25%;
    text-align : center;
}

nav {
    width : 100%;
    margin : 0 auto;
    position: sticky;
    top : 0px;
}

nav a {
    display : block;
    text-decoration: none;
    color : black;
    border-bottom: 5px solid orange;
    padding : 10px 0px;
}

nav a:hover {
    color: orange;
    border-bottom: 5px solid gold;
}



article {
    background-color : #ff914d;
    border-radius : 5px;

    padding-left : 10px;
    padding-right : 10px;
    padding-top : 1px;
    padding-bottom : 1px;

}

/*************************************************************/


div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
}

div#slider figure img { width: 20%; height: auto; float: left; max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: contain;}

div#slider { width: 100%; max-width: 1000px; overflow: hidden }

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
}