body {
    background-color : #feb905;
    font-size: 20px;
}

.blanc {
    background-color: white;
    padding: 2px 2px 2px 2px;
}

#logos {
    width : 100%;
    display : grid;
    grid-template-columns : 50% 50%;
}

img {
    width : 100%;
    height : 100%;
}

#foot {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#foot img {
    height : 70%;
    width : 70%;
    display : flex;
    align-items: center;
}
footer {
    margin-top : 20px;
}

hr {
    border: 2px solid white;
  border-radius: 5px;
}

header section {
    display : grid;
    grid-template-columns: 1fr 1fr;
}

header ul {
    list-style: none;
}

header li {
    display : inline-block;
    margin-left : 10px;
}
a {
    color : inherit;
    text-decoration: none;
    
}
header a {
    background-color: #fb5a48;
    color : white;
    border-radius : 5px;
    padding : 2px 4px 2px 4px;
    vertical-align: middle;
}

article {
    background-color : #ff914d;
    border-radius : 5px;

    padding-left : 10px;
    padding-right : 10px;
    padding-top : 1px;
    padding-bottom : 1px;

}